body{
  font-family: cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 235, 82);
}

.App-link {
  color: #fa0303;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px; /* Adjust the gap between shimmer cards as needed */
}

.shimmer-card {
  width: 30%; /* Adjust the width of each shimmer card as needed */
  height: 200px; /* Adjust the height of each shimmer card as needed */
  background: linear-gradient(-90deg, #696969 25%, #f62b2b 50%, #b40000 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 8px; /* Add rounded corners if desired */
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
